#mysql
db.driver=com.mysql.jdbc.Driver
db.url=jdbc:mysql://localhost/test
db.username=root
db.password=!QAZ2wsx
db.max_pool_size=30
db.min_pool_size=3
db.max_idle_time=30
db.acquire_retry_attempts=1

#oracle
#db.driver=oracle.jdbc.driver.OracleDriver
#db.url=jdbc:oracle:thin:@127.0.0.1:3590:rnd
#db.username=john
#db.password=passsssswwwwdddd
#db.max_pool_size=30
#db.min_pool_size=3
#db.max_idle_time=30
#db.acquire_retry_attempts=1
#db.checkoutTimeout=30000 #do not support